.characters-section {
  min-height: 100vh;
  margin-top: 96px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-section h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: var(--purple);
}

.characters-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
