<div class="character-card" (click)="onViewDetails()">
  <div class="card-header">
    <img
      class="character-image"
      [src]="character.image"
      alt="{{ character.name }}"
    />
    <h2 class="character-name">{{ character.name }}</h2>
    <div class="character-class">{{ character.class.join(", ") }}</div>
  </div>
  <div class="stats-container">
    <div class="stat">
      <div class="stat-value">{{ character.health }}</div>
      <div class="stat-label">Health</div>
    </div>
    <div class="stat">
      <div class="stat-value">{{ character.energy }}</div>
      <div class="stat-label">Energy</div>
    </div>
    <div class="stat">
      <div class="stat-value">{{ character.dodge }}</div>
      <div class="stat-label">Dodge</div>
    </div>
  </div>
</div>
